{% include "header.html" %}
    <H1>{{items[1]}}</H1> 
    <p>{{items[2]}}</p>


    <div id=videoID value={{items[0]}}></div>
  
  <div class="row">

    <div class="col-sm-8">
      <div class="videoWrapper">
        <div class="code videoPlayerCol">
          <video class="dashjs-player" id="player" autoplay controls preload="auto" src="/data/{{items[0]}}/stream.mpd"></video>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="videoPlayerCol2">
        <div class="text-center"></div>
          <p>Video Bitrate: <span id="bitrate"></span> kbps</p>
          <p>Video Buffer: <span id="buffer"></span> seconds</p>
          <p>Video Representation: <span id="representation"></span></p>
        </div>
      </div>
    </div>  

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="chartBR" class="graph" style="width:700px;height:400px;"></div>
    </div>

    <div class="col-sm-6">
      <div id="chartBF" class="graph" style="width:700px;height:400px;"></div>
    </div>

</div>






 


{% include "foot.html" %}